@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.black_text {
  color: black;
}

#ul2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* border-bottom:1px solid white; */
  border: none;
  position: fixed;
  z-index: 100000000;
  width: 100%;
}

#half {
  width: 50%;
  margin-left: 25%;
}

#right {
  float: right;
}

li {
  float: left;
}

#home {
  padding: 2px 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
  border: 3px solid #333;
  border-radius: 10px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

#banner {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 46px;
}

#bg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  filter: opacity(50%);
}

#banner2 {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 46px;
}

#bg2 {
  width: 100%;
  height: 150px;
  object-fit: cover;
  filter: opacity(50%);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

#content {
  width: 50%;
  margin-left: 25%;
}

#right {
  display: block;
}

.dropbtn {
  display: none;
}

#dl {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
}

#dl th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

#dl tr:first-child {
  background-color: #999;
  font-weight: bolder;
}

h2 {
  font-weight: bold;
}

@media screen and (max-width:299px) {
  #half {
    width: 96%;
    margin-left: 2%;
  }

  #content {
    width: 96%;
    margin-left: 2%;
  }

  #right {
    display: none;
  }

  .dropbtn {
    display: block;
  }

  #right2 {
    float: right;
  }

  #banner,
  #banner2 {
    padding-top: 46px;
  }

  .centered {
    top: 50%;
  }
}

@media screen and (min-width:300px) and (max-width:450px) {
  #half {
    width: 96%;
    margin-left: 2%;
  }

  #content {
    width: 96%;
    margin-left: 2%;
  }

  #right {
    display: none;
  }

  .dropbtn {
    display: block;
    float: right;
  }

  #right2 {
    float: right;
  }


  #banner,
  #banner2 {
    padding-top: 46px;
  }

  .centered {
    top: 50%;
  }

}

@media screen and (min-width: 601px) and (max-width: 800px) {
  #half {
    width: 96%;
    margin-left: 2%;
  }

  #content {
    width: 96%;
    margin-left: 2%;
  }

  #banner,
  #banner2 {
    padding-top: 46px;
  }

  .centered {
    top: 50%;
  }

}

@media screen and (min-width:451px) and (max-width: 600px) {
  #half {
    width: 96%;
    margin-left: 2%;
  }

  #content {
    width: 96%;
    margin-left: 2%;
  }

  #right {
    display: none;
  }

  .dropbtn {
    display: block;
    float: right;
  }

  #right2 {
    float: right;
  }


}

@media screen and (min-width:801px) and (max-width: 1100px) {
  #half {
    width: 80%;
    margin-left: 10%;
  }

  #content {
    width: 80%;
    margin-left: 10%;
  }
}

ul .icon {
  display: none;
}

table a {
  text-decoration: none;
  color: black;
}

table a:hover {
  color: #333;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 96%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 62px;
  /* adjust for more menu items */
  right: 2%;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: inherit;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

code {
  background-color: lightgrey;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

#content a {
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

footer a:visited {
  color: blue;
}

#content h1 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

#contact-methods {
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

#contact-methods th {
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (max-width:650px) {
  #r500-down {
    display: block;
  }

  #r500-up {
    display: none;
  }
}

@media screen and (min-width:651px) {
  #r500-down {
    display: none;
  }

  #r500-up {
    display: block;
  }
}